In [9]:
### 5 table
# input:1 10 5
# output:5 10 15.....
test_cases=int(input("Enter No of Test cases To Run Your Program"))#5
for i in range(test_cases):
    start=int(input())
    end=int(input())
    n=int(input()) 
    for i in range(start,end+1):
        print(n*i,end=" ")

Enter No of Test cases To Run Your Program3
1
10
5
5 10 15 20 25 30 35 40 45 50 1
10
6
6 12 18 24 30 36 42 48 54 60 1
10
7
7 14 21 28 35 42 49 56 63 70

In [13]:
# Profile pic with testcases
t=int(input("Enter Your No of Photos :"))
l=int(input("Enter Length :"))
for i in range(t):
    h=int(input("Enter Height :"))
    w=int(input("Enter Width :"))
    if(h>=l and w>=l):
        if(h==w):
            print("Accepted")
        else:
            print("Crop It")
    else:
        print("Upload Another Pic")

Enter Your No of Photos :1
Enter Length :180
Enter Height :120
Enter Width :180
Upload Another Pic

In [15]:
# initialization
# while(condition):
#     statements
#     incre/decre
# Natural Numbers for given Number
n=int(input())
i=1# initialization
while(i<=n):
    print(i,end=" ")
    i=i+1

10
1 2 3 4 5 6 7 8 9 10

In [17]:
# input: 1 15 2
#output:0 1 1 2 2 3 3 ....
# hint :1//2 2//2 3//2 ...
s=int(input())
e=int(input())
d=int(input())
while(s<=e):
    print(s//d,end=" ")
    s=s+1

1
15
2
0 1 1 2 2 3 3 4 4 5 5 6 6 7 7

In [21]:
# input:46783
# output:5
t=int(input("Enter no of Test Cases :"))
for i in range(t):
    n=int(input())# 46783
    count=0
    while(n!=0):#(46783!=0)(T),4678!=0(T),467!=0(T),46!=0(T),4!=0(T),0!=0(F)
        count=count+1# 1,2,3,4,5
        n=n//10 #--->46783//10 -->4678,4678//10-->467,467//10-->46,46//10-->4,4//10 -->0
    print("Digit Count is ",count)

Enter no of Test Cases :4
5432
Digit Count is  4
87654
Digit Count is  5
23456789
Digit Count is  8
87654567876543
Digit Count is  14

## Python Strings..

In [11]:
s='apssdc'
len(s)

6

In [13]:
s1='Hello Apssdc!'
len(s1)

13

In [17]:
print(s1[1])
print(s1[6:12])

e
Apssdc

# Stirngs Slicing

In [47]:
s1
s2='good moring students!'
s2

'good moring students!'

In [53]:

print(s1[-1])#for Geeting Last Character 
print(s1[-2])# For getting Last 2nd char
print(s1[::-1]) #String Reverse
print(s1[::2]) #Alternative Char
print(s1[-2:-4:-1])# String Reverser of last char-->cd
print(s2[-2:-4:-1])

!
c
!cdsspA olleH
HloAsd!
cd
st

In [28]:
s1[12]

'!'

In [31]:
s1[10:12]

'dc'

In [32]:
s1[len(s1)-1]

'!'

In [54]:
a=' muni '
a.strip()# Removes the entire Space of the string

'muni'

In [55]:
a.rstrip()# Right side space removes
a.lstrip()# Left side space remove

' muni'

In [61]:
a.isupper()
a.islower()
ab='6524542674munhkgfhjsdg@#$%^&*#$%'
ab.isalpha()
a

' muni '

In [62]:
for i in a:
    print(i)

m
u
n
i

In [63]:
s1

'Hello Apssdc!'

In [75]:
s2
# s3=sorted(s2)
print(sorted(s2),end=' ')
s2.count('n')

[' ', ' ', '!', 'd', 'd', 'e', 'g', 'g', 'i', 'm', 'n', 'n', 'o', 'o', 'o', 'r', 's', 's', 't', 't', 'u']

2

In [65]:
s1+s2

'Hello Apssdc!good moring students!'

In [76]:
a

' muni '

In [81]:
b=a.swapcase()
b

' MUNI '

In [82]:
c=b.swapcase()
c

' muni '

In [89]:
st="helloo"
st
st.capitalize()

'Helloo'

In [92]:
s2="Good Moring Stu.."
print("Before sorted :" + str(s2))
res=''.join(sorted(s2))
print("After Sorting :" + str(res))

Before sorted :Good Moring Stu..
After Sorting :  ..GMSdginooortu

In [102]:
s="hi"
a=(ord('h'))
b=(ord('i'))
a+b

209

In [121]:
# Welcome to Apssdc -->Ascii sum

s="Welcome to APSSDC Python Workshop 21234 !@#$#%"
i=0
count=0
l=len(s)
sum1=0
while(i<=l-1):
    print(s[i],"--->",ord(s[i]))
    sum1=sum1+ord(s[i])
    i=i+1
print("sum =",sum1)

W ---> 87
e ---> 101
l ---> 108
c ---> 99
o ---> 111
m ---> 109
e ---> 101
  ---> 32
t ---> 116
o ---> 111
  ---> 32
A ---> 65
P ---> 80
S ---> 83
S ---> 83
D ---> 68
C ---> 67
  ---> 32
P ---> 80
y ---> 121
t ---> 116
h ---> 104
o ---> 111
n ---> 110
  ---> 32
W ---> 87
o ---> 111
r ---> 114
k ---> 107
s ---> 115
h ---> 104
o ---> 111
p ---> 112
  ---> 32
2 ---> 50
1 ---> 49
2 ---> 50
3 ---> 51
4 ---> 52
  ---> 32
! ---> 33
@ ---> 64
# ---> 35
$ ---> 36
# ---> 35
% ---> 37
sum = 3576

In [122]:
# s="Welcome to APSSDC Python Workshop 21234 !@#$#%"

# Alfabets count --> 30
#     lower charaters count -->25
#     upper charaters count -->5
# numarical count -->5
# special symbols count -->6

In [128]:
# s1="hello"
# s2=s1[::-1]
# if(s1==s2):
#     print("Yes")
# else:
#     print("No")
    
# Taks 3 -->With out using slicing

# Task 4 -->
#         input:"Hi weCoMe tO ApSsDc"






s="Hi weCoMe tO ApSsDc"
s.swapcase()

'hI WEcOmE To aPsSdC'

In [133]:
c='a'

chr(ord('a')-32)

'A'

In [134]:
c="Z"
chr(ord(c)+32)

'z'

In [135]:
a

104

In [136]:
s1

'hello'

In [146]:
#Spilt()
#Join()
d='Hello world'
d.split()
#'Andhra Pradesh State Skill Development Corporation'

['Hello', 'world']

In [150]:
my_string='Andhra Pradesh State Skill Development Corporation'
# my_string.split('')

['Andhra Pradesh State Skill Development Corporation']

In [151]:
#Join()
d

'Hello world'

In [153]:
d2='*'.join(d)
d2

'H*e*l*l*o* *w*o*r*l*d'

In [156]:
st=my_string.split()
st1='#'.join(st)
st1

'Andhra#Pradesh#State#Skill#Development#Corporation'

In [158]:
st1

'Andhra#Pradesh#State#Skill#Development#Corporation'

In [159]:
st1.replace('#','*')

'Andhra*Pradesh*State*Skill*Development*Corporation'

In [160]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [164]:
s1

'hello'

In [168]:
s1.find('Y')

-1

In [ ]:
 #Task:1   # Write a program for string swaping

    # input= pyTHon
    # output = PYthON
# Task 2:
        #Check the Given string is Palindrome or not
        #case1:apssdc->cdsspa =false
        #case2:madam->madam   =True
        
        
#Task 3:
        #Find the average char of given string
            #--> Python->h
#Task 4:# Find the Freqvency of each charecter in string

In [180]:
n='python'
n1=n[len(n)//2]
n1

'h'

## Functions 
* Reusability 
* Multi oparations

In [ ]:
def my_funtion():#Funtion Starting
    #body of the statements
my_funtion()#Function Closing

In [182]:
#With Argument and With Return Value 
a=int(input("Enter the a value : "))
b=int(input("Enter the b value : "))
def addtion(a,b):
    return a+b
addtion(a,b)

Enter the a value : 2
Enter the b value : 5

7

In [183]:
a=int(input("Enter the a value : "))
b=int(input("Enter the b value : "))
def subStration(a,b):
    return a-b
subStration(a,b)

-3

### Types of Functions 
1. Without Arguments with Return value
2. With Argument with Return value
3. Without Arguments without value
4. with Argument Without Return Value

In [184]:
#Without Arguments with Return value
def add():
    a=10
    b=20
    return a+b
add()

30

In [185]:
#With argument and with out return value
def mul(a,b):
    print(a*b)
mul(2,3)

6

In [187]:
year=int(input("Enter the the year"))
# Find the Given year is leap year or not using functions
if(year%400==0 or (year%100!=0 and year%4==0)) :
    print(True)
else:
    print(False)

Enter the the year2000
True

In [193]:
st=int(input("Enter the Lb"))#2000
end=int(input("Enter the Up"))#2020
def isLeapYear(st,end):
    c=0
    for i in range(st,end+1):
        if(i%400==0 or (i%100!=0 and i%4==0) ):
            c=c+1
            print(c,"Leap years are :",i)
isLeapYear(st,end)

Enter the Lb1900
Enter the Up2020
1 Leap years are : 1904
2 Leap years are : 1908
3 Leap years are : 1912
4 Leap years are : 1916
5 Leap years are : 1920
6 Leap years are : 1924
7 Leap years are : 1928
8 Leap years are : 1932
9 Leap years are : 1936
10 Leap years are : 1940
11 Leap years are : 1944
12 Leap years are : 1948
13 Leap years are : 1952
14 Leap years are : 1956
15 Leap years are : 1960
16 Leap years are : 1964
17 Leap years are : 1968
18 Leap years are : 1972
19 Leap years are : 1976
20 Leap years are : 1980
21 Leap years are : 1984
22 Leap years are : 1988
23 Leap years are : 1992
24 Leap years are : 1996
25 Leap years are : 2000
26 Leap years are : 2004
27 Leap years are : 2008
28 Leap years are : 2012
29 Leap years are : 2016
30 Leap years are : 2020